[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
django-developer-panel = "*"
requests = "*"
django-heroku = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
django-environ = "*"

[requires]
python_version = "3.7"
