<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="google-site-verification"
      content="X4EyHoFd2rlVe5Ukaju5fJRs7rJIhtDbuX78E078ydU"
    />
    <link rel="shortcut icon" href="#" />
    <title>ToDoCRUD with Social Authentication</title>
  </head>

  <body>
    <div id="app"></div>
    <div id="modal"></div>

    {% load static %}
    <script src="{% static 'frontend/js/main.js' %}"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
